<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/f1f16614cc.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="Home">
    <h3 class="title_text">Сервис книг</h3>
</div>
<div class="nav">
    <a href="/book/all" class="nav_item">Книги</a>
</div>
</body>
</html>